.body {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: var(--BLUE);
}

.inner {
  position: relative;
  width: 80%;
  min-width: 1200px;
  height: 100%;
  min-height: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  background-color: var(--SUBTLE-BLUE);
}

.hero {
  margin-top: 250px;
  margin-bottom: 150px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  transition: background-image 0.5s ease-in-out, transform 0.5s ease;
  box-shadow: 0 8px 24px rgba(0.5, 0.5, 0.5, 0.5);
}

.desc {
  color: var(--BLUE);
  font-size: 2.5rem;
  text-align: center;
  z-index: 2;
  background: var(--SUBTLE-BLUE);
  padding: 8px 12px;
  border-radius: 6px;
}

.entriesOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
