.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.inner h1,
.inner h2 {
  color: var(--BLUE);
}

.inner {
  position: relative;
  width: 80%;
  min-width: 1200px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  background-color: var(--SUBTLE-BLUE);
}

.horz {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  width: 80%;
  align-content: space-between;
  justify-content: space-between;
}

.horz p {
  text-indent: 2em;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  line-height: 1.8;
  font-size: 1.2rem;
  font-family: "Georgia", serif;
}

.br {
  border-radius: 15px;
}

.p {
  width: 80%;
  max-width: 800px;
  text-indent: 2em;
  margin: 5px;
  text-align: left;
  line-height: 1.8;
  font-family: "Georgia", serif;
  font-size: 1.2rem;
}

.hero {
  margin: 0px 0px 10px 0px;
  border-radius: 10px;
  max-width: 800px;
  max-height: 467px;
  width: 100%;
  aspect-ratio: 3 / 2;
  height: calc(100% * 0.66);
}

.sig {
  margin: 25px 0 25px 0;
  font-size: 1.1rem;
}

@media (max-width: 450px) {
  .p,
  .separator {
    width: 360px;
  }

  .hero {
    width: 360px;
    height: 240px;
  }
}
