.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.imageWrapper {
  position: relative;
  display: inline-block;
  width: 80%;
  max-width: 1008px;
  height: auto;
}

.hero {
  display: block;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--SUBTLE-BLUE);
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.buttons {
  max-width: 1008px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.desc {
  text-align: center;
  color: var(--BLUE);
  width: 80%;
}

.row {
  height: 0px;
  width: 80%;
  max-width: 1008px;
  border: 1px solid var(--BLUE);
}

.button {
  width: 100px;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1008px;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.image {
  border-radius: 8px;
  object-fit: cover;
}
