.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0px;
}

.content {
  flex: 1;
}

.title {
  text-decoration: none;
}

.pic {
  border-radius: 50%;
}

.bar {
  display: flex;
  justify-content: space-between;
  color: var(--SUBTLE-BLUE);
}

.footer {
  background-color: var(--SUBTLE-BLUE);
  color: var(--BLUE);
  padding: 20px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-top: solid 2px var(--BLUE);
}

.fLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  color: var(--BLUE);
  text-decoration: none;
}

.fLink:hover {
  transform: scale(1.3);
}

.logo {
  border-radius: 20px;
}

.dialogButton {
  position: absolute;
  top: 50%;
  margin: auto 0;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.3);
  color: var(--SUBTLE-BLUE);
  border: none;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
  pointer-events: auto;
}

.l {
  left: 20px;
}

.dialog:has(.dialogImgWrapper:hover, .arrowLayer:hover) .dialogButton {
  opacity: 1;
}

.r {
  right: 20px;
}

.desc {
  color: var(--BLUE);
  font-size: 1.5rem;
  z-index: 2;
  background: var(--SUBTLE-BLUE);
  border-radius: 6px;
}

.arrowLayer {
  position: absolute;
  inset: 0;
  pointer-events: auto;
}

.login {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email,
.password {
  width: 250px;
  margin-bottom: 30px;
}

.loginButton {
  height: 40px;
  width: 250px;
}

.dialogImgWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dialogImg {
  max-width: 800px;
  max-height: 800px;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 30px;
}

.button {
  font-weight: bold;
}

@media (max-width: 380px) {
  .button {
    font-size: 12px;
  }
}
