.entry {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
  height: 125px;
  pointer-events: auto;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.visual {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  transition:
    width 0.5s ease,
    height 0.5s ease,
    border-radius 0.5s ease,
    background-color 0.3s ease,
    border 0.3s ease,
    transform 0.25s ease,
    box-shadow 0.25s ease,
    filter 0.25s ease;
  text-decoration: none;
  box-shadow: 0 8px 16px rgba(1, 1, 1, 1);
  background: var(--BLUE);
}

@keyframes breathe {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.entry:hover .visual {
  animation: breathe 1.2s ease infinite;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  display: block;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
  transition: color 0.5s ease;
  color: var(--SUBTLE-BLUE);
}

.visual:active .title {
  color: var(--BLUE);
}

.entry:hover .title {
  animation: showTitle 0.8s forwards;
}

@keyframes showTitle {
  0% {
    opacity: 0;
    color: var(--BLUE);
  }
  100% {
    opacity: 1;
    color: var(--SUBTLE-BLUE);
  }
}
