.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.inner {
  position: relative;
  text-align: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  background-color: var(--SUBTLE-BLUE);
}

.title {
  font-size: 3rem;
  color: var(--BLUE);
}

.h2 {
  width: 100%;
  max-width: 800px;
  text-align: start;
  color: var(--BLUE);
  font-weight: 900;
  font-size: 32px;
  margin: 10px 0px 0px 0px;
}

.hero {
  border-radius: 20px;
  width: 100%;
  max-width: 800px;
  height: auto;
}

.p {
  width: 100%;
  max-width: 800px;
  text-indent: 2em;
  margin: 5px;
  text-align: left;
  line-height: 1.8;
  font-family: "Georgia", serif;
  font-size: 1.2rem;
}

.image {
  border-radius: 20px;
  margin: 20px 0 20px 0;
  width: 100%;
  max-width: 800px;
  height: auto;
}

.sig {
  margin: 25px 0 25px 0;
  font-size: 1.1rem;
}

.horz {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  width: 100%;
  align-content: space-between;
  justify-content: space-between;
  gap: 16px;
}

.horz p {
  text-indent: 2em;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  line-height: 1.8;
  font-size: 1.2rem;
  font-family: "Georgia", serif;
}

.br {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .h2 {
    font-size: 24px;
  }

  .p {
    font-size: 1rem;
    text-indent: 1.5em;
  }

  .horz {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}
