.page {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--BLUE);
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero {
  border-radius: 15px;
}
