.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.inner h1 {
  color: var(--BLUE);
}

.inner {
  position: relative;
  width: 80%;
  min-width: 1200px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  background-color: var(--SUBTLE-BLUE);
}

.number {
  border-radius: 50%;
  background-color: var(--BLUE);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 40px;
  border: 2px dotted var(--SUBTLE-BLUE);
  margin: 0px;
  font-style: oblique;
  line-height: 1px;
  color: var(--SUBTLE-BLUE);
}

.numbered {
  border-radius: 50%;
  background-color: var(--BLUE);
  width: 115px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--SUBTLE-BLUE);
  margin: 0px;
  line-height: 1px;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0px 15px 0px;
  width: 80%;
  max-width: 800px;
}

.accordion {
  max-width: 800px;
  width: 100%;
}

.p {
  width: 80%;
  max-width: 800px;
  text-indent: 2em;
  margin: 5px;
  text-align: left;
  line-height: 1.8;
  font-family: "Georgia", serif;
  font-size: 1.2rem;
}

.typography {
  width: 100%;
  text-indent: 2em;
  text-align: left;
}

.readmore {
  border: none;
  height: 1px;
  background-color: black;
  margin: 0 0 10px 0;
  width: 100%;
  max-width: 800px;
}

.hero {
  margin: 0px 0px 10px 0px;
  border-radius: 10px;
  max-width: 800px;
  max-height: 467px;
  width: 100%;
  aspect-ratio: 3 / 2;
  height: calc(100% * 0.66);
}

.sig {
  margin: 25px 0 25px 0;
  font-size: 1.1rem;
}

@media (max-width: 450px) {
  .p,
  .entry,
  .accordion,
  .separator {
    width: 360px;
  }

  .hero {
    width: 360px;
    height: 240px;
  }
}
